*.dll
*.exe
*.pdb
*.cache
*.Cache
*.xml
*/obj/*
*/bin/*
!/NeededAssemblies/alglibnet2.dll
!/NeededAssemblies/Microsoft.Solver.Foundation.DLL
!/NeededAssemblies/ShoArray.dll
!/NeededAssemblies/ShoOptimizer.DLL
!/NeededAssemblies/Stats.dll
!/NeededAssemblies/MatrixInterf.dll
!/NeededAssemblies/MathFunc.dll
!/NeededAssemblies/*.dll

MatrixArrayPlot/MatrixArrayPlot/obj/Mono/MatrixArrayPlot.csproj.FilesWrittenAbsolute.txt

MatrixArrayPlot/MatrixArrayPlot/obj/Mono/DesignTimeResolveAssemblyReferences.cache

MatrixArrayPlot/MatrixArrayPlot/MatrixArrayPlot.pidb

MatrixArrayPlot/MatrixArrayPlot/bin/Mono/Stats.dll

MatrixArrayPlot/MatrixArrayPlot/bin/Mono/ShoArray.dll

MatrixArrayPlot/MatrixArrayPlot/bin/Mono/ShoOptimizer.DLL

MatrixArrayPlot/MatrixArrayPlot/bin/Mono/Microsoft.Solver.Foundation.DLL

MatrixArrayPlot/MatrixArrayPlot/bin/Mono/MatrixInterf.dll

MatrixArrayPlot/MatrixArrayPlot/bin/Mono/MathFunc.dll

MatrixArrayPlot/MatrixArrayPlot/bin/Mono/GrowthCurveLibrary.dll.config

MatrixArrayPlot/MatrixArrayPlot/bin/Mono/alglibnet2.dll

GrowthCurveLibrary/GrowthCurveLibrary.pidb

CurveFitterMonoSolution/CurveFitterMonoSolution.userprefs

CurveFitterMonoGUI/CurveFitterMonoGUI.pidb

*.userprefs

*.userprefs

*.userprefs
