*.dll
*.exe
*.pdb
*.cache
*.Cache
*.xml
*/obj/*
*/bin/*
!/NeededAssemblies/alglibnet2.dll
!/NeededAssemblies/Microsoft.Solver.Foundation.DLL
!/NeededAssemblies/ShoArray.dll
!/NeededAssemblies/ShoOptimizer.DLL
!/NeededAssemblies/Stats.dll
!/NeededAssemblies/*.dll